<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XBOX2NeoGeo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <XBOX2NeoGeo.Properties.Settings>
      <setting name="DPadUp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DPadLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DPadRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DPadDown" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LStickUp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LStickLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LStickRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LStickDown" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RStickUp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RStickLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RStickRight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RStickDown" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="B" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="A" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LTrigger" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LBumper" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RTrigger" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RBumper" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Back" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Start" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FTDIPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ControllerId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FireRate" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="PAL1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAL2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAL3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAL4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAR1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAR2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAR3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PAR4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PALT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PART" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DInput" serializeAs="String">
        <value>False</value>
      </setting>
    </XBOX2NeoGeo.Properties.Settings>
    </userSettings>
</configuration>